[global]
  workgroup = {{ workgroup_name }}
  server string = Samba Server Version %Version
  log_ file = /var/log/samba/log.%m
  max log size = 50
  security user
  passdb backend = tdbsam
  load printers = yes
  cups options = raw

[homes]
  comment = Home Directory
  browseable = no
  writable = yes

[printers]
  comment = All printers
  path = /var/spool/samba
  browseable = no
  guest ok = no
  writable = no
  printable = yes
